body{
    background-color: #00ffff;
    font-size: 20px;
}

/* HOVER BAR */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #800000;
    border-radius: 18px;
    margin-bottom: 10px;
}
.gambarhover{
    padding: 0;
    max-width: 3%;
    height: auto;
    position: absolute;
    bottom: 686px;
    left: 1458px;
}
li {
    float: left;
}
li a {
    font-family: "Lucida Hand Writing",cursive;
    display: block;
    font-size: normal;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}
li a:hover {
    background-color: #8fbc8f;
}

/* BAR NAKAMA NEWS */
.bar{
    background-color: darkred;
    border: 5px solid;
    border-color: black;
    border-radius: 20px;
    color: lightcyan ;
    text-align:center;
    font-family: "Lucida Hand Writing",cursive;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 44px;
    width: 23%; 
    height: 23%;
}

/* ISI */
.sinopsis1{
   /*jumlah column*/
	-webkit-column-count: 2; /* support Chrome, Safari, Opera */
	-moz-column-count: 2; /* support Firefox */
	column-count : 2;
 
	/*lebar column*/
	-webkit-column-width: 100px; /* support Chrome, Safari, Opera */
	-moz-column-width: 100px; /* support Firefox */
	column-width :100px;
 
	/*jarak column dengan column yang lain*/
	-webkit-column-gap : 20px;
	-moz-column-gap : 20px;
	column-gap : 20px;	
	
	/*ketebalan garis*/
	-webkit-column-rule-width : 1px;
	-moz-column-rule-width : 1px;
	column-rule-width : 1px;	
 
	/*pengaturan garis dengan format nilai jenis_garis warna*/
	-webkit-column-rule : 1px solid blue;
	-moz-column-rule : 1px solid blue;
	column-rule : 1px solid blue;
 
    text-align: justify;
    font-family: "Times New Roman",serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}
